<%- include('../partials/head_2.ejs') %>

  <h1>Edit</h1>

  <img class="small" src="/dist/images/<%= image %>">
  <a href="/admin/delete/<%= image %>">Verwijder</a>
  <a href="/admin/description/<%= image %>">Pas omschrijving aan</a>

  <!-- <form method="post">

  </form> -->

<%- include('../partials/foot.ejs') %>
